.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,.4);
    width: 100%;
    height: 100vh;
    pointer-events: none;
    opacity: 0;
    transition: .3s all ease;
}

.modal__isAtivo {
    opacity: 1;
    pointer-events: auto;
}

.modal__wrap {
    margin: 10%;
}